# Docker ignore fayl
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.db-journal
*.log
.git/
.gitignore
.vscode/
.idea/
*.md
FATH_1.5/
fath1.2/
fath1.3/
fath1.4/
analyses/
pro_analyses/
*.zip
*.ex5
*.mq5
*.mp4
*.pdf
*.jpg
*.png
firebase_credentials.json
.env

